.col-1, .col-2, .col-3 {
  float: left;
}

.col-1 {
  width: 27.5%
}

.col-2 {
  width: 70%;
}

.a {
  position:relative; 
  bottom: 45px; 
  right: 30px;

}

body {
  border: 10px solid #FFF;
  background-color: #3F51B5;
  color: white;
  font-family: 'Raleway', sans-serif;
  padding: 60;
  text-decoration: none;
}

.center {
  text-align: center;
}
.wrapper {
  background-color: #2C5CD0;
  margin: 10px auto;
  max-width: 300px;
  padding: 30px;
  border: 4px double white;
}

.timerclass {
  font-size: 2.5rem;
}

.homepage_content {
  h2 {
    font-size: 1.1rem;
    text-transform: uppercase;
  }
  h3 {
    font-size: 1.35em;
    font-weight: 400;
    margin-bottom: .5rem;
  }
  a {
    text-decoration: none;
  }

  p{
    margin: 0 0 .75 em 0;
  }
}
.about {
  padding: 0 7.5% 0 0;
  a {
    font-weight: 700;
    text-decoration: none;
    &:hover{
      color: #FFFF00;
    }
  }
}

.tasks{
  width: 80%;
  max-width: 760px;
  margin: 0 auto;
}

h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: normal;
  margin-top: 30px;
  margin-bottom: 0;
}

hr{
  display: block;
  height: 5px;
  border: 0;
  border-top: 2px solid #FF8301;
  margin: 2rem 0;
}

h1 span {
  display: block;
  font-size: 50%;
}

.clearfix:before,
.clearfix:after{
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.main_navigation {
  padding: 2.5em 5%;
  border-bottom: 1px solid $border;
  background: #FF8301;
  }
  nav {
    float: right;
    a{
    color: #FFFFFF;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1.7rem;
    }
  }

}

.nav {
  text-decoration: none;
  float: right;
}

a{
  color: #FFFFFF;
  text-decoration: none;
  margin: 0 1rem;
  font-size: 2rem;
  &:hover{
    color: #FFFF00;
  }
}

a:hover{
  color: #FFFF00;
}

.wrapperpage {
  width: 90%;
  margin: 0 auto;
}

.wrapper_padding {
  padding: 4rem 0;
}

.button {
  
  outline: none;
  background: transparent;
  border: 2px solid #FFFFFF;
  text-align: center;
  font-size: 1em;
  color: #FFFFFF;
  text-decoration: none;
  padding: 1em 2em;
  &:hover {
    border: 2px solid #2196F3;
    color: #2196F3;
  }
}
